body {
	margin: 50px;
	background-color: #40779E;
	height: 700px;
}

.head {
	font-size: 40px;
	color: white;
	font-family: "Helvetica Neue";
	text-align: center;
	width: 800px;
	margin: 0 auto;
}

.word {
	font-size: 80px;
	color: white;
	font-family: "Helvetica Neue";
	text-align: center;
	width: 800px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#wordContainer {
	height: 100%;
	width: 900px;
	margin: 0 auto;
}

   



